body{
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;

}
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    font-family: "Permanemt Marker", cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
#restartBtn{
    width: 150px;
    border-radius: 25px;
    border: 2px groove #a8eb12;
    background-color: #00bf72;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
}
#restartBtn:hover{
    border: 1px solid #a8eb12;
    transform: scale(.9);
}
